<div class="background-white intro">
  <div id="profile" class="container intro-content">
   <h3 style="text-align: left" class="adjust_text">Educations</h3>
    <div class="row padding-needed">
      <div class="col-md-3">
        <div class="paragraph-font"><b>K L University</b></div>
        <p class="sub-para paragraph-font">April 2012 - Mar 2016</p> <br/>
      </div>

     <div class="col-md-8">
        <div class="paragraph-font"><b>Bachelor - Electrical and Electronics Engineering, CGPA: 8/10</b></div>

        <ul class="education-list">
           <li>Learned all core and advanced topics in Electrical Engineering and also gained knowledge in SQL, C, java and web technologies parallely with the curriculm.</li>
           <li>My interest in mathematical modelling earned me a specialization in power systems.</li>
           <li>Courses like Problem Solving through Programming, Database Managment Systems and Micro processors and Micro controllers increased my passion towards software engineering.</li>
         </ul>
       <span class="experience-details"> <span class="location">
         <p class="sub-para paragraph-font colored-font align-left">  <i class="fa fa-map-marker"></i>
           Vaddeswaram, Guntur district, India |
           <i class="fa fa-link"></i> <a href="https://www.kluniversity.in/" target="_blank">https://www.kluniversity.in/</a></p>
       </span>
       </span>
      </div>
    </div>
    <div class="row padding-needed">
     <div class="col-md-3">
       <div class="paragraph-font"><b>Sri Chaitanya Junior College</b></div>
       <p class="sub-para paragraph-font">Mar 2010 - Mar 2012</p> <br/>
     </div>

    <div class="col-md-8">
     <div class="paragraph-font"><b>Intermediate - MPC (Maths/Physics & Chemistry), Percentage: 91%</b></div>
      <p class="sub-para paragraph-font">This is the place where I improved my problem solving skills and increased my passion towards engineering.</p>
      <span class="experience-details"> <span class="location">
        <p class="sub-para paragraph-font colored-font align-left">  <i class="fa fa-map-marker"></i>
         Guntur, Guntur District, India | <i class="fa fa-link"></i> <a href="https://srichaitanya.net/" target="_blank">https://srichaitanya.net/</a></p>
      </span>
      </span>
     </div>
   </div>
   <br/><br/>
  </div>
 </div>
