<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">{{title}}</h5>
        <div class="image-holder d-flex justify-content-left flex-wrap"
            [ngClass]="{'card-body-height': !isExperience, 'card-body-height-large':isExperience}">
            <div class="m-2 d-flex flex-column align-items-center imgdiv" *ngFor="let imgObj of iconArray">
                <img [src]="imgObj?.image" alt="not found">
                <p class="imgText">{{imgObj?.text}}</p>
            </div>
        </div>
    </div>
</div>
