.card-body {
  min-height: 13rem;
}

.card {
  width: 250px;
  border-radius: 0 20% 0 20%;
  border: 3px solid #00b386;
  margin: 0 auto;
  float: none;
}

h5 {
  font-size: 3rem;
  color:darkcyan;
  border: 1px solid black;
  background-color: #e8ddd5;
}

img {
  width: 20px;
  height: 50px;
  padding: 5%;
  flex-basis: 50%;
}
