<div class="card align-center">
    <div class="card-body">
        <h5 class="card-title text-center">8+ Years</h5>
        <h6 class="card-subtitle mb-2 text-center">of working experience</h6>
        <div class="d-flex justify-content-left flex-wrap">
           
            <img src="assets/images/netcracker.png"  alt="netcracker">
            <img src="assets/images/fis.png"  alt="fis">
            <img src="assets/images/CIT_Bank_Logo.jpg"  alt="CIT BANK">
            <img src="assets/images/wipro.png" alt="wipro">
        </div>
    </div>
</div>
