
.styledimg {
  margin-bottom: 10px;
  margin-top: 60px;
}
.btn.btn-default.btn-sm.downbtn {
  background-color: #00b386;
  color: #fff;
  margin-top: 10px;
}
.btn.btn-default.btn-lg.downbtn {
background-color: #00b386;
  color: #fff;
  margin-top: 10px;
}
