<div class="background-white intro">

  <div id="profile" class="container intro-content">
    <div class="row">
      <div class="col-md-4">
        <h3 style="text-align: left" class="adjust_text">About me</h3>
        <p class="paragraph-font">
          Hello! My name is <u>Srinivas Kattamuri</u>.<br/> I&#039;m a Technology enthusiastic and an<b> 7+ Year</b> experienced <b>Web Developer</b>.
        </p>
        <p class="sub-para paragraph-font">
            I've got chops in all phases of software development life cycle with strong analytical and programming skills.
            Skilled in development and implementation of Web Projects Using <b> Angular,React </b>.
        <p class="sub-para paragraph-font">Love to create quality and user friendly applications by adopting modern technologies.</p>
      </div>

      <div class="col-md-4 text-center ">
          <img class="styledimg" src="assets/images/Srinivas.jpg" alt="Srinivas Kattamuri"
            width="245" height="230" />
        </div>
      <div class="col-md-4">
        <h3 style="text-align: left" class="adjust_text">Details</h3>
        <p class="paragraph-font">
          <strong>Name:</strong><br /> Srinivas Kattamuri<br /> <strong>Age:</strong><br />
          {{age}}
          Years<br /> <strong>Born Location:</strong><br /> Piduguralla,
          Andhra Pradesh, India - 522410<br /> <strong>Current
            Location:</strong><br /> {{currentAddress}}
        </p>
        <a href="{{downloadResume}}"
          target="_blank" class="btn btn-default btn-lg downbtn adjust_btn resume-download"><i
          class="fa fa-download fa-fw "></i> <span class="network-name">Download
            Resume</span></a>
      </div>
    </div>
    <br/>
  </div>
</div>
