.selectStyle {
  width: fit-content;
}

.detailsWrapper {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 100%;
  min-width: 360px;
}

.selectHead {
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .detailsWrapper {
     flex-direction: column;
     align-items: center;
  }
}
