<div class="background-white intro">

  <div id="contact" class="container intro-content">
      <div class="row padding-neeeded-extra">
          <div class="col-lg-12 col-lg-offset-2 text-center">
            <h2 style="font-size: 28px;" class="styledFont">
              <b>Want to work together?</b>
            </h2>
            <h2 style="font-size: 16px;" class="styledFont">Let's Convert a Great Idea Into a
              Reality!</h2>
              <br/>
              <app-company-experience> </app-company-experience>
          </div>
      </div>
      <br/>
      <br/>
      <section id="bottombar">
            <div class="social-links col-lg-12 text-center">
              <span class="styledFont connect-me">Connect:</span>
              <app-social-connections> </app-social-connections>
            </div>
        </section>
  </div>
</div>
