h2.styledFont {
  font-family: 'Nunito Sans', sans-serif;
}
.padding-neeeded-extra{
  padding-top: 12px;
}
#bottombar {
  background: #fff;
  padding: 10px 0;
  font-size: 18px;
}


/* #bottombar .social-links app-social-connections a {
  color: #555;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9;
}

#bottombar .social-links app-social-connections a:hover {
  color: #00b386;
}

#bottombar .social-links app-social-connections a:first-child {
  border-left: 0;
} */
.connect-me {
  padding-right: 8px;
  color: #00b386;
  font-weight: 500;
}
