 <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:srinivasguptha.k@gmail.com">srinivasguptha.k@gmail.com</a>
        <i class="fa fa-phone"></i> (+91) 9573274621
      </div>
      <div class="social-links float-right">
          <app-social-connections> </app-social-connections>
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1 class="showDesktop"><a routerLink="/">{{name}}, <span>{{caption}}.</span></a></h1>
        <h1 class="showMobile"><a routerLink="/">{{name}}</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li routerLinkActive="menu-active" [routerLinkActiveOptions]="{exact : true}"><a routerLink="/">About</a></li>
          <li routerLinkActive="menu-active"><a routerLink="/experience">Experience</a></li>
          <li routerLinkActive="menu-active"><a routerLink="/skills">Skills</a></li>
          <li routerLinkActive="menu-active"><a routerLink="/achievements">Achievements</a></li>
          <li routerLinkActive="menu-active"><a routerLink="/education">Education</a></li>
          <li routerLinkActive="menu-active"><a routerLink="/contact">Contact</a></li>
          <li routerLinkActive="menu-active"><a routerLink="/gallery">Gallery</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
      <router-outlet></router-outlet>
    </div>
  </header>
