/* You can add global styles to this file, and also import other style files */
body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;

}

a {
  color: #00b386;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #00b386;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #555;
}

#topbar .contact-info a:hover {
  color: #00b386;
}

#topbar .contact-info i {
  color: #00b386;
  padding: 4px;
}

#topbar .contact-info .fa-phone {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
  color: #555;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  border-left: 1px solid #e9e9e9;
}

#topbar .social-links a:hover {
  color: #00b386;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 20px 0;
  height: 84px;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

#header #logo h1 {
  font-size: 37px;
  margin: 0;
  padding: 0;
  line-height: 1;
  line-height: .9em;
  font-weight: 400;
}

#header #logo h1 a {
  color: #080808;
  line-height: 1;
  display: inline-block;
}

#header #logo h1 a span {
  color: #00b386;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  .showDesktop{
    display: none;
  }

  .showMobile{
    display: block;
  }

  #header {
    padding: 20px 0;
    height: 74px;
  }
  #header #logo h1 {
    font-size: 34px;
  }
  #header #logo img {
    max-height: 40px;
  }


}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
  body{
    overflow-y: auto;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #555;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 14px;
  outline: none;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #00b386;
}

.nav-menu > li {
  margin-left: 0px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color: #00b386;
}

.nav-menu ul ul {
  margin: 0;
}
/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #00b386;
}

#mobile-nav ul .menu-item-active {
  color: #00b386;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}

.intro .intro-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;

}
.intro {
  top: 93px;
  position: relative;
}
h3.adjust_text{
font-family: 'Nunito Sans', sans-serif;
color: #00b386;
text-align: left;
font-size: 26px;
}

.paragraph-font{
text-align: justify;
font-size: 17px;
line-height: 24px;
}
.sub-para{
margin-top: 5px;
}
.intro p.paragraph-font{
margin-bottom: 0px;
}
.colored-font{
color: #00b386;
}
.colored-font a{
color: #00b386;
}
.padding-needed{
padding-top: 16px;
}
p.lead {
text-align: center;
color: #727878;
font-size: 25px;
}
@media (min-width: 768px) {

  .showDesktop{
    display: block;
  }

  .showMobile{
    display: none;
  }

p.lead {
    font-size: 21px;
}
}
.skillHeading {
text-align: left;
margin-bottom: 2px;
color: #38b16b;
font-size: 17px;
font-weight: 600;
padding-top: 5px;
font-family: 'Nunito Sans', sans-serif;
}

.align-left {
text-align: left;
}


::-webkit-scrollbar {
  width: 0em;
  height: 0em;
}
::-webkit-scrollbar-button {
  background:#00b386;
}
::-webkit-scrollbar-track-piece {
  background: #e8ddd5;
}
::-webkit-scrollbar-thumb {
  background: #00b386;
}

#achivements .card ul{
  height: auto;
}

/* #expDetail .card{
  border-radius: 10%;
} */

#certifications a{
  color: #00b386;
}

