<div class="background-white intro">
  <div id="achivements" class="container intro-content">
          <p class="lead ">
              “Sucess is not an activity but a process.”<br>-
              Margaret Mead
            </p>
    <div class="row">
        <div class="col-sm-6">
            <app-card-wrapper title="Appreciations" [detailArray]="achivementInfo.appreciations"> </app-card-wrapper>
        </div>
        <div class="col-sm-6" >
          <app-card-wrapper id="vissa" title="Visa" [detailArray]="achivementInfo.visa"> </app-card-wrapper>
          <app-card-wrapper id="certifications" title="Certifications" [detailArray]="achivementInfo.certifications"> </app-card-wrapper>
        </div>
      </div>
  </div>
  </div>
